.grid-container{
    max-width: 60rem;
    margin: 0 auto;
    padding-right: 0.65rem;
    padding-left: 0.65rem;
}

.flex__grid {
    display: block;
    flex-wrap: wrap;
}

.flex__grid--end{
    justify-content: flex-end;
}

.flex__grid--space-between{
    justify-content: space-between;
}

@media (min-width: 640px) {
    .flex__grid {
        display: flex;
    }
}
