@import url("_foundation.css");
@import url("_variables.css");
@import url("_typography.css");
@import url("_grid.css");
@import url("_buttons.css");
@import url("_form.css");

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro',sans-serif;
    color: var(--color-font);
    background: var(--color-background);
    font-size: 18px;
    line-height: 1.5;
}

.header{
    margin-bottom: 2rem;
}

.content {
    margin-top: 2rem;
    padding: 1rem 0;
    flex: 1 0 auto;
}

.note{
    border-radius: 2px;
    margin-bottom: 2rem;
    color: var(--color-note-font);
}

.note .left{
    background-color: var(--color-note-background);
    border-bottom: 0;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}

.note .right{
    background-color: var(--color-note-background);
    border-top: 1px dashed #d2d2d2;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 0;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}

.note:hover .left, .note:hover .right{
    box-shadow: 0 1px 30px 0 rgba(0,0,0,.2);
}

.header__rating{
    text-align: left;
    margin-bottom: 1rem;
}

.header__rating i{
    margin-left: 0.3rem;
}

.header__rating i:first-child{
    margin-left: 0
}

.note__footer{
    text-align: right;
}

.note__footer i{
    margin-left: 1rem;
}

.footer {
    padding: 1rem;
    flex-shrink: 0;
    background-color: var(--color-footer);
    color: var(--color-footer-font);
}

/* Star Icons */
.staricon{
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 1rem;
}

.staricon--color{
    color: var(--color-staricon-solid);
}

.staricon--solid:before{
    content: '\2605';
}

.staricon--regular:before{
    content: '\2606';
}

@media (min-width: 640px) {
    header .btn {
        width: calc(50% - 0.3rem);
    }

    header .show-finished {
        width: calc(50% - 2.3rem);
    }

    .note .left {
        width: calc(25% - 0.15rem);
        margin-bottom: 1rem;
        border-radius: 2px;
        text-align: justify;
        border: 1px solid #d2d2d2;
    }

    .note .right {
        width: calc(75% - 0.15rem);
        margin-bottom: 1rem;
        border: 1px solid #d2d2d2;
    }

    .note__header{
        display: flex;
        justify-content: space-between;
    }

    .header__rating{
        width: 30%;
        text-align: right;
        margin-bottom: 0;
    }
}

header .show-finished {
    padding-top: 0.3rem;
    text-align: center;
}

@media (min-width: 1024px) {
    header .show-finished {
        width: calc(25% - 0.3rem);
    }
}

/* show more, show less */
.read-more-state {
    display: none;
}
.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    /*transition: .25s ease; */
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}
.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}
.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    color: var(--color-button-font);
    border: none rgba(0, 0, 0, 0);
    background-color: var(--color-button);
    text-decoration: none;
    border-radius: 18px;
    margin-bottom: 1rem;
    padding: 0.3rem 1rem;
}

.read-more-trigger:hover{
    background: var(--color-button-active);
}