@import url("_foundation.css");
@import url("_grid.css");
@import url("_buttons.css");
@import url("_form.css");

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.80);
    background: #fefefe;
}
.content {
    padding: 1rem;
    flex: 1 0 auto;
}
.footer {
    padding: 1rem;
    flex-shrink: 0;
    background-color: #E6E6E6;
}
